*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.padding-v-20{
    padding: 20px 0;
}

.background-blue{
    background-color: blue;
    background-image: url("../img/jumbo.png");
    background-size: cover;
    color: white;
}

.lightgrey-bg{
    background-color: lightgrey;
}

.aquamarine-bg{
    background-color: aquamarine;
}

header{
    height: 80px;
    background-color: #255ee9;
    display: flex;
    align-items: center;
}

footer{
    background-color: black;
    color: white;
}

ol{
    padding: 10px;
    list-style: none;
}

ul{
    padding: 10px;
    list-style: none;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

li{
    color: white;
}

p{
    margin: 10px 0;
}

hr{
    width: 100%;
    align-items: center;
}

.button-one{
    border-radius: 35%;
    width: 70px;
    height: 30px;
}

.container{
    width: 75%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.container-sm{
    width: 60%;
    margin: 0 auto;
}

.row{
    width: 100%;
    display: flex;
    justify-content: center;
}

.col-sm{
    height: 50px;
    width: 25%;
}

.col-smtA{
    height: 50px;
    width: 25%;
}


.col-med{
    height: 50px;
    width: 50%;
}

.col-bg{
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.col-40{
    width: 40%;
}

.col-60{
    width: 60%;
}

.col-100{
    width: 100%;
}

.bc{
    width: 30%; 
}
  
.bd{
    width: calc(70% / 4);
}

.space{
  display: flex;
  justify-content: space-between;
}